# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log


# Environments
.env
.env.*
.venv/
venv/
ENV/


# Django / DB
*.sqlite3
/static/
/media/


# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db


# Byte-compiled / cache
*.pyo
*.pyd


# Migrations (keep *.py, ignore caches)
**/migrations/__pycache__/